<div id ='storylines'>
</div>
<div class="cover-index">
  <div class="container">
    <div class="row">
      <h1 class="fw-normal  d-flex justify-content-center mt-3">トークルーム一覧</h1>
    </div>
    <div class="row">
      <% @posts.each do |post| %>
        <% if post.private == true %>
          <% next %>
        <% end %>
        <div class="col-lg-4 col-md-6">
          <div class="one-post d-flex justify-content-around">
              <div class="card my-3"  style="width: 18rem; height: 15rem;">
                <p class="caption  card-title d-flex justify-content-around"><%= link_to post.title, "/storylines/#{post.id}", data: { turbo: false }%></p>
                <% if post.image? %>  <!-- アップロード画像がある場合に実行する -->
                  <div class="caption">
                    <%= image_tag post.image.half.url, class: "card-img-top img-fluid" %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
                  </div>
                <% end %>
                <p class="caption text-truncate"><%= post.subject %></p>
              </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @posts %>
  </div>
</div>