.title {
    font-family: cursive;
  }
  
  sub-title {
    font-family: serif;
  }
  
.cover {
    height: 100%;
    width: 100%;
    display: table;
    background-image: image-url('/assets/home.png');
    background-color:rgba(245, 240, 240, 0.4);
    background-blend-mode:lighten;
    background-size: 100% 100%;
  }
  
.text-center {
    display: table-cell;
    vertical-align: middle;
  }